body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    border-radius: 15%;
}

.tribute-content h2 {
    margin-top: 1.5rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}
.wiki a{
    
    margin-left: 400px;
}
.wiki button{
    background-color: bisque;
    height: 40px;
    width: 150px;
    border-radius: 15px;
}